.collapsible-content {
  background-color: #111;
  padding: 15px 20px;
  color: #f3c969;
}

.collapsible-content.hidden {
  display: none;
}

.match {
  border-bottom: 1px solid #f3c969;
  padding: 10px 0;
}

.match p {
  margin: 4px 0;
}

.winner {
  color: #b33a3a;
  font-weight: bold;
}

.rating {
  color: #f3c969;
  font-weight: bold;
}

.award-line {
  color: #f3c969;
  font-weight: bold;
}
